.movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.movie-info img {
    margin: 0.3em 0;
}

.movie-info span {
    font-size: 0.9rem;
    word-wrap: break-word;
    max-width: 200px;
    margin-bottom: 0.5em;
}


.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.quantity-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-buttons button {
    margin: 0;
    font-weight: bold;
    border: none;
}

#minusBtn {
    padding: 0.8em 1.125em;
}

.quantity-number {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}


.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.unit-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 30px;
}

.total-price {
    font-size: 0.9rem;
    color: #666;/
}

#checkoutMainTitle {
    margin-top: 80px;
}

#grandTotalTitle {
    justify-self: end;
    margin-bottom: 100px;
}

.remove-button-container {
    margin-top: 50px;
}
#removeBtn {
    background-color: rgba(255, 0, 0, 0.575);
    border: none;
    font-weight: 500;
}

#removeBtn::before {
    content: "Remove";
  }
  
  @media (max-width: 900px) {
    #removeBtn::before {
      content: "X";
      font-weight: bold;
    }

    #removeBtn {
        padding: 0.3em 0.7em;
    }

    .quantity-buttons button {
        padding: 0.3em 0.7em;
    }

    #minusBtn {
        padding: 0.3em 0.8em;
    }
  }