@import url(pico.min.css);

:root {
    --text-color: #000;
    --text-color-invert: #fff;
}

[data-theme="dark"] {
    --text-color: #fff;
    --text-color-invert: #000;
}

html {
    overflow-y: scroll;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* #cart-count {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

#cart-count.visible {
    opacity: 1;
} */