.movie-page-horizontal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.trending-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.trending-movie img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.movie-item {
  flex: 1 0 calc(10% - 10px); /* Adjust the width for 10 items per row */
  max-width: 150px; /* Limit the width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  width: 150px;
  height: 200px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.movie-poster:hover {
  transform: scale(1.1);
}

h4 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Adjust to the image width */
}