/* Nav */
#indexLink {
  font-size: 1.5rem;
  font-weight: bold;
}

#GenreDropdown {
  display: contents;
}

#searchNavTop input {
  @media (width >=901px) {
    width: calc(100vw - 33rem);
  }
}
#topnav {
  display: flex;
  align-items: center;
  padding: 0 var(--pico-spacing);
  background-color: #202632;
  position: fixed;
  z-index: 999;
  height: 80px;
  top: 0;
  width: 100%;
  box-shadow: var(--pico-box-shadow);
}

#topnav a {
  color: lightgray;
  text-decoration: none;
  padding: 0 10px;
}

#topnav a:hover {
  color: var(--text-color);
}

/* Add to cart button on any page */
.add-to-cart.jump {
  animation: jump 0.5s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

#hamburger-menu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: lightgray;
  cursor: pointer;
}

/* 350 - 900px screens */
@media (max-width: 900px) {
  #hamburger-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  #nav-links {
    display: none;
    flex-direction: column;
    align-items: stretch;
    background-color: #202632;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 998;
    padding: 10px;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }

  #GenreDropdown {
    text-align: center;
  }

  #GenreDropdown::after {
    content: "";
    display: block;
    height: 20px;
  }
}

/* < 350px screens */
@media (max-width: 350px) {
  #indexLink {
    font-size: 1rem;
  }

  #cart-link {
    left: 9em;
  }
}
