#indexLink {
  font-size: 1.5rem;
  font-weight: bold;
}

#GenreDropdown {
  display: contents;
}

#hamburger-menu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: lightgray;
  cursor: pointer;
}

#nav-links {
  display: flex;
  list-style: none;
  position: absolute;
  padding: 0;
  right: 170px;
  align-items: center;
}


#topnav {
  display: flex;
  align-items: center;
  padding: 0 var(--pico-spacing);
  background-color: #202632;
  position: fixed;
  z-index: 999;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--pico-box-shadow);
}

#topnav a {
  color: lightgray;
  text-decoration: none;
  padding: 0 10px;
}

#topnav a:hover {
  color: var(--pico-primary-focus);
}

#cartIcon {
  position: absolute;
  right: 5.5em;
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.add-to-cart.jump {
  animation: jump 0.5s ease-in-out;
}

@media (max-width: 900px) {
  #hamburger-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  #cartIcon {
    position: absolute;
    right: 4.5em;
  }

  #cart-count {
    position: absolute;
    right: 3.25em;
  }

  #cart-link {
    position: absolute;
    left: 15.5em;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    align-items: stretch;
    background-color: #202632;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 998;
    padding: 10px;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }

  #GenreDropdown {
    text-align: center;
  }

  #GenreDropdown::after {
    content: '';
    display: block;
    height: 20px;
  }

  #topnav {
    flex-wrap: nowrap;
  }
}

@media (max-width: 350px) {
  #indexLink {
    font-size: 1rem;
  }
  #cartIcon {
    right: 4.5em;
  }

  #cart-count {
    right: 3.25em;
  }

  #cart-link {
    left: 12em;
  }
}