#indexLink {
  font-size: 1.5rem;
  font-weight: bold;
}

#GenreDropdown {
  display: contents;
}

#hamburger-menu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: lightgray;
  cursor: pointer;
}

#nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}


#topnav {
  display: flex;
  align-items: center;
  padding: 0 var(--pico-spacing);
  background-color: #202632;
  position: fixed;
  z-index: 999;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--pico-box-shadow);
}

#topnav a {
  color: lightgray;
  text-decoration: none;
  padding: 0 10px;
}

#topnav a:hover {
  color: var(--pico-primary-focus);
}

@media (max-width: 900px) {
  #hamburger-menu {
    display: block;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    align-items: stretch;
    background-color: #202632;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 998;
    padding: 10px;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  #GenreDropdown {
    text-align: center; 
  }

  #GenreDropdown::after {
    content: '';
    display: block;
    height: 20px;
  }

}
