---
import BaseLayout from "../layouts/BaseLayout.astro";
import MovieCarousel from '../components/MoviesList.jsx';
---

<BaseLayout title="MovieStore-lab">
  <main>
    <h1>Trending movies will come here</h1>
    <MovieCarousel client:load />
  </main>
</BaseLayout>
