---
import BaseLayout from "../layouts/BaseLayout.astro";
import MovieCarousel from "../components/MoviesList.jsx";
---

<BaseLayout title="MovieStore-lab">
  <main>
    <MovieCarousel client:load />
  </main>
</BaseLayout>
<style>
  a:hover {
    color: var(--pico-primary-focus);
  }
  ul {
    margin-left: 1.5rem;
  }
</style>
