---

---
<main class="container-fluid">
    <h1>hello from Categories</h1>

    <blockquote>
        Categories is a funny word. Some people think design means how it looks.
        But of course, if you dig deeper, it's really how it works.”
        <footer>
            <cite>— Michael Jobs</cite>
        </footer>
    </blockquote>
</main>
