---
/**
 * GenreDropdown.astro
 */
---

<details class="dropdown">
  <summary>Movies</summary>
  <ul>
    <li>
      <label>
        <input id="show-all" type="radio" name="genre" value="all" />
        All
      </label>
    </li>
    <li>
      <label>
        <input id="filter-28" type="radio" name="genre" value="28" />
        Action
      </label>
    </li>
    <li>
      <label>
        <input id="filter-12" type="radio" name="genre" value="12" />
        Adventure
      </label>
    </li>
    <li>
      <label>
        <input id="filter-16" type="radio" name="genre" value="16" />
        Animation
      </label>
    </li>
    <li>
      <label>
        <input id="filter-35" type="radio" name="genre" value="35" />
        Comedy
      </label>
    </li>
    <li>
      <label>
        <input id="filter-80" type="radio" name="genre" value="80" />
        Crime
      </label>
    </li>
    <li>
      <label>
        <input id="filter-99" type="radio" name="genre" value="99" />
        Documentary
      </label>
    </li>
    <li>
      <label>
        <input id="filter-18" type="radio" name="genre" value="18" />
        Drama
      </label>
    </li>
    <li>
      <label>
        <input id="filter-10751" type="radio" name="genre" value="10751" />
        Family
      </label>
    </li>
    <li>
      <label>
        <input id="filter-14" type="radio" name="genre" value="14" />
        Fantasy
      </label>
    </li>
    <li>
      <label>
        <input id="filter-36" type="radio" name="genre" value="36" />
        History
      </label>
    </li>
    <li>
      <label>
        <input id="filter-27" type="radio" name="genre" value="27" />
        Horror
      </label>
    </li>
    <li>
      <label>
        <input id="filter-9648" type="radio" name="genre" value="9648" />
        Mystery
      </label>
    </li>
    <li>
      <label>
        <input id="filter-10749" type="radio" name="genre" value="10749" />
        Romance
      </label>
    </li>
    <li>
      <label>
        <input id="filter-878" type="radio" name="genre" value="878" />
        Science Fiction
      </label>
    </li>
    <li>
      <label>
        <input id="filter-53" type="radio" name="genre" value="53" />
        Thriller
      </label>
    </li>
    <li>
      <label>
        <input id="filter-10752" type="radio" name="genre" value="10752" />
        War
      </label>
    </li>
    <li>
      <label>
        <input id="filter-37" type="radio" name="genre" value="37" />
        Western
      </label>
    </li>
  </ul>
</details>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    // Grab all radio inputs
    const radios = document.querySelectorAll("input[name='genre']");

    radios.forEach((radio) => {
      // On change, redirect to /categories?genre=<value>
      radio.addEventListener("change", () => {
        const genreValue = radio.value;
        // Redirect the browser to /categories?genre=...
        window.location.href = `/movies?genre=${genreValue}`;
      });
    });
  });
</script>

<style>
  .dropdown input {
    display: none;
  }

  li {
    font-size: 0.75rem;
    height: 2rem;
  }
</style>
