---
import GenreDropdown from "../components/GenreDropdown.astro";
---

<nav id="topnav">
  <ul>
    <li><a href="/">TheMovieStore</a></li>
  </ul>
  <ul>
    <li>
      <input type="search" name="search" placeholder="Search" aria-label="Search" id="search-navbar" />
    </li>
    <GenreDropdown />
    <li><a href="/contact">Contact</a></li>
    <li><a href="/checkout">Checkout</a></li>
  </ul>
</nav>

<style>
  #topnav {
    padding-left: var(--pico-spacing);
    padding-right: var(--pico-spacing);
    background-color: #202632;
    position: fixed;
    z-index: 999;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--pico-box-shadow);
  }
  #topnav a {
    color: lightgray;
  }
  #topnav a:hover {
    color: var(--pico-primary-focus);
  }
  #search-navbar {
    top: 5px;
    left: 150px;
    width: auto;
  }
</style>
