---
import Counter from "../components/Counter";
const someProps = {
  count: 0,
};
---

<main class="container">
  <h1>hello from Welcome.astro</h1>
  <a href="./info">secret link to a info.astro page🤣</a>
  <hr />
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <Counter {...someProps} client:visible>
    <h1>Hello, React!</h1>
  </Counter>

  <blockquote>
    “Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it's really
    how it works.”
    <footer>
      <cite>— Steve Jobs</cite>
    </footer>
  </blockquote>
  <hgroup>
    <h2>Get inspired with CSS</h2>
    <p>How to use CSS to add glam to your Website?</p>
  </hgroup>
  <button class="secondary">Secondary</button>
  <button class="contrast">Contrast</button>
  <article>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores dolores dolor cupiditate, ratione commodi
      beatae sapiente ipsa esse delectus ex nostrum impedit, nihil eligendi voluptates fugiat ipsum vero voluptatem
      consequatur provident perferendis alias. Cumque omnis quidem et expedita perferendis est possimus fuga fugit
      corrupti delectus temporibus odit esse eum tenetur ea vitae harum tempore, reiciendis saepe laboriosam sed! Quo
      dignissimos est harum quibusdam id distinctio facilis nesciunt, totam doloremque expedita suscipit, accusantium
      sit illo nemo voluptatibus eligendi facere exercitationem repellat eveniet minima corporis necessitatibus
      repudiandae optio. Ratione totam dignissimos minus enim explicabo et eos similique, velit itaque numquam beatae
      facere repudiandae sequi provident reprehenderit voluptatem ipsum obcaecati sed. Recusandae provident delectus
      error facilis? Provident quasi consectetur sint nesciunt aliquam. Hic possimus cupiditate, eaque praesentium
      laudantium libero quaerat et harum eveniet molestias nisi, modi quisquam debitis cumque error nulla dolorum! Amet,
      placeat ipsam culpa repudiandae at, laudantium voluptates asperiores blanditiis veniam temporibus provident ipsa
      nam dolor cupiditate architecto commodi, deleniti obcaecati consequuntur exercitationem aspernatur hic voluptatum?
      Nisi obcaecati molestiae sapiente tenetur. Ipsa reprehenderit perferendis sit eveniet ut maxime voluptate nulla
      fuga tenetur earum ad cupiditate, libero ullam, aliquam incidunt a inventore error iste ea amet! Aliquam
      repellendus hic magnam modi quia earum autem magni voluptates provident facere molestiae et incidunt, voluptatibus
      ratione illo nihil? Non, nam voluptas atque harum obcaecati autem deleniti veritatis reiciendis minima iusto dicta
      corporis saepe, nulla provident voluptatibus cupiditate id et pariatur! Earum, necessitatibus? Dolore, maxime!
      Tempora, itaque ducimus illo doloribus necessitatibus quo perspiciatis ipsum amet cum aspernatur aperiam alias
      iste sapiente nemo quibusdam beatae enim inventore, provident rem placeat ratione soluta dicta expedita
      doloremque. Rerum cum non aliquam deleniti sapiente magnam fugiat error aliquid quasi distinctio natus tempore
      deserunt ratione, reiciendis adipisci atque quisquam! Tempore aut illum necessitatibus, delectus est nam quisquam
      ullam non sequi, officia eos consectetur mollitia animi et sunt. A unde optio voluptatibus hic officia quibusdam,
      doloremque natus autem. Hic, qui sunt? Est veritatis ipsam ea deleniti delectus exercitationem itaque, minus
      beatae perspiciatis consequuntur alias doloremque quaerat odit ipsa aliquam, dolorum excepturi eligendi minima
      dolores aliquid! Eum aperiam minus perspiciatis autem mollitia nulla alias rerum quaerat fugit corrupti hic atque
      possimus quis voluptate dolor, consequatur, modi magni itaque illum aspernatur nobis. Culpa qui nemo quam.
      Accusamus vitae perspiciatis, ipsam quibusdam cumque doloribus. Iste, nulla! Molestiae perferendis obcaecati
      nesciunt cupiditate maxime dolore officiis perspiciatis ratione debitis! Nisi quod hic incidunt doloribus expedita
      voluptatem sequi saepe ratione ullam, odit pariatur dignissimos ipsum vel repudiandae, reiciendis aliquam dolorem
      odio non. Atque harum nulla porro necessitatibus ipsa temporibus nemo. Libero pariatur voluptatum aliquid
      consectetur dicta eligendi! Cupiditate quaerat molestias aperiam deleniti molestiae asperiores praesentium
      excepturi aliquam impedit sint doloribus fugit cumque nobis, nisi provident illo. Perferendis quaerat tenetur
      delectus quia, aliquam consectetur? Repudiandae vel esse aspernatur, magnam ipsam voluptatum. Molestias, maiores
      velit cumque eaque quibusdam, exercitationem nulla autem, ipsum ullam quo ratione laborum perferendis voluptate
      accusamus tempore. Doloribus labore in corporis aut a modi eius repellendus, eveniet incidunt ipsum quia id unde
      nulla rem optio minima sequi reprehenderit dolore animi exercitationem nobis aliquam deserunt explicabo. Itaque
      adipisci veritatis architecto facilis sit obcaecati, quia quaerat, fugiat quibusdam doloremque earum corrupti.
      Molestias doloribus maxime, a voluptatibus sunt quas, debitis ipsum quam, voluptatem iure dolorum molestiae est
      eligendi. In sint facere ullam excepturi dolore! Itaque perferendis quae iste fugit, cumque corporis ipsam est
      necessitatibus ratione aliquid dolorem, incidunt doloribus commodi minima expedita ex ducimus. Expedita nisi fuga
      ab ipsa iusto recusandae aliquam molestias dicta ut quam aspernatur aperiam eius, possimus perspiciatis eligendi
      maiores vitae animi! Perspiciatis cumque ipsum in pariatur quis quo praesentium sapiente dolorem atque animi,
      similique quibusdam nisi voluptatem corporis aliquam ex iusto reprehenderit ea error amet ad beatae officiis? Ab
      eaque assumenda facere architecto porro, eos quod aliquid vero et repellat in saepe nesciunt sed dolorem quo
      recusandae eligendi rerum culpa perspiciatis mollitia. Tenetur nemo blanditiis neque impedit iure repudiandae ad
      mollitia, fuga facere voluptatum repellat excepturi. Nesciunt quo libero assumenda qui laboriosam possimus eius
      nam voluptate ut iste iure nobis, commodi aspernatur facilis, voluptates quisquam? Magni quasi deleniti
      necessitatibus velit ducimus beatae officia sit mollitia, cupiditate eum dolorem nemo hic quam libero commodi nam
      qui placeat minima eveniet, laboriosam consectetur. Consequuntur voluptate dolores animi nulla rerum sequi aperiam
      fuga rem obcaecati porro consequatur eaque optio quidem veritatis exercitationem, minima hic maxime! Ex error
      architecto vero, vitae provident qui, voluptatem, dicta maiores saepe reiciendis maxime accusamus placeat ipsum
      eligendi deleniti. Illum ducimus, eum quam eveniet sunt a in rem deserunt id error fuga modi deleniti laboriosam
      quos magni dolore ipsa impedit facilis neque consequuntur magnam saepe accusantium. Quas quae iure consectetur
      praesentium nobis, ullam ipsam nesciunt iusto similique! Doloribus, ut cupiditate? Nulla magnam nihil fugit
      distinctio reiciendis ipsum quis odio neque voluptas, libero, sit eius explicabo facere repudiandae molestiae, ut
      error iste maiores modi optio ea! Tenetur possimus vero nihil quo, nemo architecto molestiae laudantium expedita,
      cupiditate rem aliquam repellat? Tempora, quod? Nisi eveniet illo vero dicta illum accusamus. Dolorem illo sed nam
      molestias. Cumque deleniti accusantium corrupti, assumenda suscipit ex voluptatem ipsam ducimus adipisci odit
      voluptate harum at unde necessitatibus quaerat nemo maiores ipsum molestias. Libero impedit esse, aperiam, sequi
      quas velit cum officia blanditiis accusamus delectus sapiente nisi dolores eveniet et ea soluta, ducimus facere
      labore doloribus maxime similique eligendi quibusdam dolorum. Omnis quos ratione doloremque, voluptatibus
      similique consequuntur et rerum! Repellendus ab dolorum illum cupiditate dolores facilis repudiandae ad quisquam
      tenetur voluptate voluptatem sint ratione necessitatibus natus consectetur, exercitationem voluptatum dolor earum?
      Illo ipsum dolorum eaque quis iste sit voluptates cumque delectus suscipit culpa. Neque alias quas quisquam esse
      tenetur ipsa vitae, quibusdam fugit porro? Pariatur dignissimos eveniet aperiam quibusdam adipisci sint laboriosam
      atque labore illo delectus minus magnam, consequatur, laudantium repudiandae unde nesciunt iusto architecto ipsum
      alias, dolores quasi? Corrupti rerum, quia sapiente maiores suscipit quasi ipsam soluta laboriosam dolores vitae
      quae asperiores voluptatem porro ullam iste exercitationem id, sit esse architecto ex laborum similique placeat.
      Deleniti facilis animi id nulla tempora, debitis dicta? Ipsam vitae architecto quisquam earum nemo alias suscipit,
      voluptatibus odio esse est iure, porro tempore praesentium sapiente velit soluta. Praesentium quibusdam laborum
      tempora, eligendi cupiditate velit dignissimos nulla nam, illo quo consectetur ducimus!
    </p>
  </article>
</main>
<style>
  a:hover {
    color: var(--pico-primary-focus);
  }
</style>
